[user]
    name = Travis Shears
    email = btbtravis@gmail.com

[core]
	editor = vim
	excludesfile = /Users/t.shears/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/projects/"]
    path = ~/projects/.gitconfig

